<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: small;">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="sendPassword()" [formGroup]="credentials">
    <div class="input-group">
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
    </div>

    <ion-button type="submit" expand="block" [disabled]="!credentials.valid">Send Password</ion-button>
  </form>
</ion-content>
